BasedOnStyle: Google
Language: Cpp
Standard: c++17
ColumnLimit: 120
IndentWidth: 2
TabWidth: 2
UseTab: Never
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false
SortIncludes: true
IncludeBlocks: Regroup
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
BreakBeforeBraces: Attach
NamespaceIndentation: None
FixNamespaceComments: true
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
Cpp11BracedListStyle: true
ReflowComments: true
